<!DOCTYPE html>
<html>
<head>
	<title>{{Titulo}}</title>
</head>
<body>
	<section>
		<ul>
			<!-- ciclo para crear un link por cada cancion -->
			{% for track in Tracks %}
			
			<li><a href="{{track.get_absolute_url}}">{{track.Title}}</a>
				{% if track.id == selected_track.id %} <-- Reproduciendo {% endif %}
			</li>
			{% endfor %}
		</ul>
		<p>
			<b>Titulo:</b> {{Track.Title}}
		</p>
		<p>
			<b>Orden:</b> {{Track.Order}}
		</p>
		<p>
			<b>Archivo:</b> 
			<audio controls autoplay>
				<source src="{{Track.Track_File.url}}" type="audio/mpeg">				
			</audio>
		</p>
		<p>
			<b>Album:</b> {{Track.Album}}
		</p>
		<p>
			<b>Artista:</b> {{Track.Artist}}
			<ul>
				<li><b>Biografía:</b> {{Track.Artist.Biography}}</li>
			</ul>
			
		</p>
	</section>
</body>
</html>