<!DOCTYPE html>
<html>
<head>
	<title>{{Titulo}}</title>
</head>
<body>
	<section>
		<ul>
			<!-- ciclo para crear un link por cada cancion -->
			{% for track in Tracks %}
			
			<li><a href="{{track.get_absolute_url}}">{{track.Title}}</a>
				{% if track.id == selected_track.id %} ***** {% endif %}
			</li>
			{% endfor %}
		</ul>
		<p>
			Titulo: {{Track.Title}}
		</p>
		<p>
			Orden: {{Track.Order}}
		</p>
		<p>
			Archivo: {{Track.Track_File}}
		</p>
		<p>
			Album: {{Track.Album}}
		</p>
		<p>
			Artista: {{Track.Artist}}<br>
			Biografía: {{Track.Artist.Biography}}
		</p>
	</section>
</body>
</html>